:root {
    --dark-color: #00766c;
    --dark-color-o: rgba(0, 118, 108, 0.9);
    --light-color: #64d8cb;
    --primary-color: #26a69a;
}

/** {
border: 1px black solid;
}*/

body {
    background-color: var(--primary-color);
}

.endgame {
    display: none;
    position: absolute;
    background-color: var(--dark-color-o);
    color: #FFF;
    text-align: center;
    padding: 1em 2em;
    font-size: 2em;
    border-radius: 5px;
}

.btn {
    position: relative;
    display: block;
    margin: 1em auto;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: var(--primary-color);
    color: #FFF;
    padding: 1em 2em;
    cursor: pointer;
}

.game-wrapper {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--dark-color);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 5em;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
}

.game-wrapper>.row:nth-child(1)>.cell {
    border-top: 0;
}

.game-wrapper>.row:nth-child(3)>.cell {
    border-bottom: 0;
}

.game-wrapper>.row>.cell:nth-child(1) {
    border-left: 0;
}

.game-wrapper>.row>.cell:nth-child(3) {
    border-right: 0;
}
